<script src="/javascripts/angular/angular.js"></script>
<script src="/javascripts/angular-aria/angular-aria.js"></script>
<script src="/javascripts/angular-animate/angular-animate.js"></script>
<script src="/javascripts/angular-material/angular-material.js"></script>
<script src="/javascripts/angular-resource/angular-resource.min.js"></script>
<script src="/javascripts/angular-cookies/angular-cookies.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="/javascripts/angularfire/dist/angularfire.min.js"></script>
<script src="/javascripts/core/init.js"></script>