<!DOCTYPE html>
<html>
<head>
		<% include ./partials/head %>
</head>
	<% include ./partials/body_head %>
	<div class="demo-content contentDemo1">
		<div class="ng-scope layout-column" layout="column" ng-controller="mainCtrl as main" ng-cloak>
			<md-toolbar class="amd-warn">
				<div class="md-toolbar-tools">
					<h2 class="md-flex">Surrounds</h2>
				</div>
			</md-toolbar>
			<md-content flex layout-padding>
				<p>El siguiente es un demo:</p>
				<md-button ng-class="main.data.led?'md-warn':'md-primary'"
					ng-click="main.utils.turnOnLed()">{{main.utils.getText()}}</md-button>
			</md-content>
		</div>
	</div>
	<% include ./partials/footer.ejs %>
	<script src="/javascripts/core/services/raspberry.js"></script>
	<script src="/javascripts/core/controllers/index.js"></script>
</body>
</html>